// Components

$homeColor: black;
$collegeGreen: #005C30;
$academyBlue: #387798;
$storeColor: grey;

$baseSize: 11.5px;

// Sizes in terms of ohSizeStep()
$sidebarWidth: 75;
$marginBreakPoint: 200;

@function ohSizeStep($step) {
  @return $baseSize * (1 + ($step/3));
}

@mixin horizontalSecondaryNavigation() {
  min-height:ohSizeStep(2);
  padding:0;
  
  li {
    position:relative;
    padding:0;
  }
  
  a {
    padding:10px;
    display: block;
    color:rgba(255, 255, 255, 0.95);
  }
  
  /* Top Level */
  
  &>li {
    display:inline-block;
    border-right:1px solid rgba(255, 255, 255, 0.3);
    margin-left:-4px;
  }

  &>li:first-child {
    margin-left:0;
  }
  
  &>li:first-child,
  &>li:first-child>a {
    border-radius:3px 0 0 0;
  }
  
  &>li.current_page_item>a,
  &>li.current_page_ancestor>a {
    background-color:#F5F5F5;
    color:black;
    text-decoration:none;
  }
  
  &>li.page_item_has_children>a {
    padding-right:28px;
  }
  
  &>li.page_item_has_children>a:after {
      content:"";
      width:0;
      height:0;
      border-left:4px solid transparent;
      border-right:4px solid transparent;
      border-top:7px solid white;
      position:absolute;
      top:17px;
      right:10px;
  }
  
  &>li.page_item_has_children.current_page_item>a:after,
  &>li.page_item_has_children.current_page_ancestor>a:after,
  &>li.page_item_has_children>a:hover:after {
      border-top:7px solid black;
  }
  
  /* Sub Menus */
  
  .children {
    position: absolute;
    z-index:100;
    display:none;
    width:175px;
    margin-left:1px;
  }
  
  &>li>.children {
    left:-1px;
  }
  
  .children .children {
    right:-176px;
    top:-1px;
  }
  
  li:hover>.children {
    display:block;
  }
  
  .children li {
    margin-top:1px;
  }
  
  li li.page_item_has_children>a:after {
      content:"";
      width:0;
      height:0;
      border-top:4px solid transparent;
      border-bottom:4px solid transparent;
      border-left:7px solid white;
      position:absolute;
      top:14px;
      right:10px;
  }
  
  li li.page_item_has_children.current_page_item>a:after,
  li li.page_item_has_children.current_page_ancestor>a:after,
  li li.page_item_has_children>a:hover:after {
      border-left:7px solid black;
  }
}

@mixin imageLeftPlural() {
  .plural {
    position:relative;
    padding-left:36%;
  }
  
  .plural>a:first-child {
    width: 33.3%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }
  
  .plural>a:first-child img {
    display:none;
  }
}