// Components

$homeColor: black;
$collegeGreen: #005C30;
$academyBlue: #387798;
$storeColor: grey;
$liveColor: #a80000;

$baseSize: 11.5px;

// Sizes in terms of ohSizeStep()
$sidebarWidth: 50;
$marginBreakPoint: 200;

@function ohSizeStep($step) {
  @return $baseSize * (1 + ($step/3));
}

@mixin imageLeftPlural() {
  .plural .thumbnail {
    max-width:33%;
    max-height:33%;
    float:left;
    overflow:hidden;
    margin-right:20px;
    display:inline-block;
  }
}